
~$Plan QA-AvancesManuel.xlsx
Evidencia ejecución cartera/Ciclo 1/Iteracion 2/Administracion/Documentos a Descargar - Afianza/Bloqueado_TCC-70_TC_Cartera_AdministracionDR_AsociadosAgregar.rar
Casos de Pruebas Gemma/02-TestCases (Autoguardado).xls
Casos de Pruebas Gemma/02-TestCases (Autoguardado).xml
